.select_button {
  display        : flex;
  flex-direction : row;
  gap            : 5px;
  align-items    : center;
  justify-content: center;
  height         : 30px;
  background     : #626A7C;
  border         : none;
  border-radius  : 5px;
  font-size      : 12px;
  color          : white;
  cursor         : pointer;
  padding        : 0px 10px;
}

.select_icon {
  width : 20px;
  height: 20px;
  color : #DCCB8D;
}

.select_dropdown_area {
  visibility     : hidden;
  display        : flex;
  justify-content: center;
}

.select_dropdown {
  visibility    : hidden;
  position      : fixed;
  display       : flex;
  flex-direction: column;
  background    : #626A7C;
  border-radius : 10px;
  overflow      : scroll;
  margin        : 10px 0px 0px 0px;
  z-index       : 2;
  height        : 0px;
  transition    : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  opacity       : 0;
}

.select_dropdown.active {
  visibility      : visible;
  opacity         : 1;
  transform       : translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  height          : fit-content;
  max-width       : 150px;
}

.select_dropdown_button {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  gap            : 5px;
  align-items    : center;
  background     : inherit;
  border         : none;
  cursor         : pointer;
  padding        : 10px;
  color          : white;
}

.select_dropdown_button:hover {
  background: #696767;
  color     : #DCCB8D;
}

.select_group {
  width : 100%;
  height: 100%;
}

.token_select_button {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  background     : #626A7C;
  border         : none;
  border-radius  : 5px;
  color          : white;
  cursor         : pointer;
  gap            : 5px;
  width          : 100%;
  height         : 100%;
}

.token_image {
  height: 20px;
  width : 20px;
}

.token_content {
  color: white;
}

.error_box {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
  visibility    : hidden;
  position      : absolute;
  border-radius : 10px 10px 10px 0px;
  background    : #252B34;
  color         : white;
  font-size     : 14px;
  padding       : 10px;
  width         : 50px;
  height        : 50px;
  transition    : width 0.3s ease-out 0s, min-width 0.3s ease-out 0s, max-width 0.3s ease-out 0s;
  margin-top    : -110px;
  margin-left   : 100px;
  z-index       : 3;
}

.error_box.active {
  visibility: visible;
  width     : 200px;
}

.error_icon {
  width : 30px;
  height: 30px;
  color : #CF2727;
}

.info_text {
  visibility: hidden;
  opacity   : 0;
  transition: opacity .5s ease-in-out;
  width     : 130px;
}

.info_text.active {
  visibility: visible;
  opacity   : 1;
}

.dialog_background {
  visibility      : hidden;
  position        : fixed;
  height          : 100%;
  width           : 100%;
  top             : 0px;
  left            : 0px;
  right           : 0px;
  bottom          : 0px;
  background-color: rgba(13, 17, 28, 0.6);
  z-index         : 20;
  transition      : .5s;
  opacity         : 0;
}

.dialog_background.active {
  visibility: visible;
  opacity   : 1;
}


.token_dialog {
  visibility   : hidden;
  position     : fixed;
  background   : #2F3A45;
  border       : 1px solid #D9D9D9;
  border-radius: 20px;
  height       : 50%;
  width        : 30%;
  top          : 30%;
  left         : 35%;
  transition   : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.token_dialog.active {
  visibility      : visible;
  opacity         : 1;
  transform       : translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.token_dialog_header {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
  width          : 100%;
  padding        : 10px 10px 0px 42.5%;
}

.token_dialog_title {
  color     : white;
  align-self: center;
  font-size : 20px;
}

.close_button {
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : white;
  background     : none;
  border         : none;
  transition     : .2s;
}

.close_button:hover {
  color: #515453;
}

.icon {
  width : 40px;
  height: 40px;
  cursor: pointer;
}

.token_search {
  padding: 20px;
}

.search_input {
  height: 40px;
}

.token_buttons {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
  padding       : 20px;
}

.token_button {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  gap            : 10px;
  align-items    : center;
  border-radius  : 10px;
  border         : 1px solid #D9D9D9;
  cursor         : pointer;
  background     : none;
  color          : white;
  transition     : .5s;
}

.token_button.selected {
  background: #6B7371;
}

.dividor {
  height    : 1px;
  background: #80838a;
  width     : 100%;
}

.tokens_list {
  display       : flex;
  flex-direction: column;
}

.token_option {
  display       : flex;
  flex-direction: row;
  background    : none;
  border        : none;
  align-items   : center;
  gap           : 20px;
  cursor        : pointer;
  padding       : 5px 20px;
  transition    : .2s;
}

.token_option.selected {
  cursor    : auto;
  color     : white;
  background: #8f9092;
}

.token_option:hover {
  background: #8f9092;
  ;
}

.token_info {
  display       : flex;
  flex-direction: column;
}

.search_dropdown {
  top           : 17.5%;
  position      : fixed;
  display       : flex;
  flex-direction: column;
  background    : #15202F;
  border-radius : 10px;
  overflow      : scroll;
  z-index       : 2;
  width         : 30%;
  color         : white;
  box-shadow    : white;
}

.section_header {
  border-bottom: solid 1px #939498;
  padding      : 10px;
  color        : #D9D9D9;
}

.search_list {
  display       : flex;
  flex-direction: column;
}

.search_item {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
  width         : 100%;
  padding       : 5px;
  cursor        : pointer;
  border-bottom : solid 1px #939498;
}

.search_item:hover {
  background: #4A4E50;
}

.search_icon {
  border-radius: 100px;
}

.search_content {
  display       : flex;
  flex-direction: column;
}

.item_attributes {
  display       : flex;
  flex-direction: row;
  gap           : 20px;
  font-size     : 10px;
}

.attribute {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
}

.attribute_icon {
  height: 10px;
  width : 10px;
}

.filter_area {
  display       : flex;
  flex-direction: column;
  gap           : 5px;
}

.filter_row {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  cursor         : pointer;
  transition     : .2s;
  border-radius  : 5px;
  padding        : 10px;
}

.filter_row:hover {
  background: #4A4E50;
}

.filter_row.active {
  background: #4A4E50;
}

.filter_title {
  font-size: 18px;
  margin   : 0px;
}

.filter_icon {
  width : 20px;
  height: 20px;
  color : #DCCB8D;
}

.filter_icon svg {
  transition: .3s;
}

.filter_icon.active svg {
  transform: rotate(180deg);
}

.filter_content {
  visibility   : hidden;
  height       : 0;
  width        : 100%;
  transition   : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  overflow     : auto;
  border-bottom: 2px solid #4A4E50;
  opacity      : 0;
}

.filter_content.active {
  visibility      : visible;
  height          : 150px;
  opacity         : 1;
  transition-delay: 0s, 0s, 0.3s;
}

.filter_search_box {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  border        : 1px solid #D9D9D9;
  color         : #6B7371;
  height        : 40px;
  width         : 100%;
  border-radius : 10px;
  padding       : 10px;
  gap           : 10px;
}

.filter_search_icon {
  width    : 20px;
  height   : 20px;
  /* color : #DCCB8D; */
}

.filter_search_input {
  background: none;
  border    : none;
  outline   : none;
  color     : white;
  width     : 100%;
  height    : 100%;
}

.apply_button {
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : #313132;
  border         : none;
  border-radius  : 5px;
  width          : 75%;
  height         : 40px;
  margin         : auto;
  color          : white;
  cursor         : pointer;
}

.apply_button.active {
  background: #4A4E50;
}