.layout {
    height: 90%;
    width : 100%;
}

.content {
    display       : flex;
    flex-direction: row;
    z-index       : 1;
    position      : relative;
}

.left_menu {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    z-index        : 2;
    width          : 20%;
    height         : 100%;
    left           : 0px;
    top            : 8%;
    justify-content: center;
    transition     : width 0.1s ease-out 0s, min-width 0.1s ease-out 0s, max-width 0.1s ease-out 0s;
    box-shadow     : 5px 10px 10px;
    background     : rgba(33, 35, 38, 1);
    border         : 2px solid #967C6E;
    border-top     : none;
}

.left_menu_collapsed {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    z-index        : 2;
    width          : 5%;
    height         : 100%;
    justify-content: center;
    transition     : width 0.1s ease-out 0s, min-width 0.1s ease-out 0s, max-width 0.1s ease-out 0s;
}

.left_drawer {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background     : rgb(50, 49, 49);
    color          : #DCCB8D;
    width          : 30px;
    height         : 30px;
    left           : 20%;
    top            : 20%;
    z-index        : 2;
    border-radius  : 0px 5px 5px 0px;
    cursor         : pointer;
    border         : 1px solid #967C6E;
    transition     : height 0.3s ease-out 0s, min-height 0.3s ease-out 0s, max-height 0.3s ease-out 0s;
}

.left_drawer:hover {
    background: #515453;
}

.left_drawer.collapsed {
    height    : 120px;
    left      : 0px;
    transition: height 0.3s ease-out 0s, min-height 0.3s ease-out 0s, max-height 0.3s ease-out 0s;
}

.left_drawer svg {
    transition: 0.4s;
}

.left_drawer.collapsed svg {
    transform: rotate(180deg);
    position : absolute;
    top      : 10px;
    width    : 20px;
    ;
}

.left_drawer_text {
    display  : none;
    transform: rotate(-90deg);
    position : absolute;
    bottom   : 30px;
}

.left_drawer_text.collapsed {
    display: block;
}

.right_menu {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    z-index        : 2;
    width          : 20%;
    height         : 100%;
    right          : 0px;
    top            : 8%;
    justify-content: center;
    background     : rgba(33, 35, 38, 1);
    transition     : width 0.1s ease-out 0s, min-width 0.1s ease-out 0s, max-width 0.1s ease-out 0s;
    box-shadow     : -5px 10px 4px;
    border         : 2px solid #967C6E;
    border-top     : none;
}

.right_menu_collapsed {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    z-index        : 2;
    width          : 5%;
    height         : 100%;
    right          : 0px;
    justify-content: center;
    transition     : width 0.1s ease-out 0s, min-width 0.1s ease-out 0s, max-width 0.1s ease-out 0s;
}

.right_drawer {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    gap            : 10px;
    justify-content: center;
    align-items    : center;
    background     : rgb(50, 49, 49);
    color          : #DCCB8D;
    width          : 30px;
    height         : 30px;
    right          : 20%;
    top            : 200px;
    z-index        : 3;
    border-radius  : 5px 0px 0px 5px;
    cursor         : pointer;
    border         : 1px solid #967C6E;
    transition     : height 0.3s ease-out 0s, min-height 0.3s ease-out 0s, max-height 0.3s ease-out 0s;
}

.right_drawer:hover {
    background: #515453;
}

.right_drawer.collapsed {
    height    : 120px;
    right     : 0px;
    transition: height 0.3s ease-out 0s, min-height 0.3s ease-out 0s, max-height 0.3s ease-out 0s;
}

.right_drawer svg {
    transition: 0.4s;
}

.right_drawer.collapsed svg {
    transform: rotate(180deg);
    position : absolute;
    top      : 10px;
    width    : 20px;
}

.right_drawer_text {
    display  : none;
    position : absolute;
    transform: rotate(90deg);
    bottom   : 30px;
}

.right_drawer_text.collapsed {
    display: block;
}


.drawer svg {
    width: 30px;
}

.main {
    position        : fixed;
    background-image: url('/dark-blue-parchement-paper.png');
    background-size : cover;
    height          : 100%;
    width           : 100%;
    z-index         : 1;
}

.main::before {
    content         : "";
    position        : absolute;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    left            : 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

.main_header_area {
    position: relative;
    margin  : 5% 25% 0% 25%;
    height  : 20%;
}

.main_header_area.left_collapsed {
    margin    : 5% 25% 0% 10%;
    transition: margin-left 0.15s ease-out 0s;
}

.main_header_area.both_collapsed {
    margin    : 5% 10% 0% 10%;
    transition: margin-right 0.15s ease-out 0s margin-left 0.15s ease-out 0s;
}


.search_box {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    width         : 33%;
    height        : 50px;
    gap           : 10px;
    border-radius : 10px;
    background    : rgba(31, 33, 36, 1);
    border        : 2px solid #DCCB8D;
    color         : #DCCB8D;
    padding       : 0px 10px;
}

.search_icon {
    width : 20px;
    height: 20px;
}

.back_box {
    display          : flex;
    flex-direction   : row;
    align-items      : center;
    /* position      : fixed; */
    /* left          : 25%; */
    /* margin        : -100px 0px; */
    width            : 200px;
    /* gap           : 10px; */
    border-radius    : 10px;
    color            : #967C6E;
    cursor           : pointer;
    gap              : 10px;
    transition       : .2s;
}

.back_box:hover {
    color: #DCCB8D;
}

.back_icon {
    width : 20px;
    height: 20px;
}

.search_input {
    background: none;
    border    : none;
    outline   : none;
    color     : white;
    width     : 100%;
    height    : 100%;
    ;
}

.header {
    position      : fixed;
    display       : flex;
    flex-direction: row;
    top           : 22.5%;
}

.page_title {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : fixed;
    width          : 30%;
    right          : 35%;
    color          : #DCCB8D;
    font-size      : x-large;
    margin-top     : -10px;
}

.main_container {
    position  : relative;
    margin    : 0% 25% 10% 25%;
    height    : 70%;
    transition: margin-left 0.15s ease-out 0s;
}

.main_container.left_collapsed {
    margin    : 0% 25% 10% 5%;
    transition: margin-left 0.15s ease-out 0s;
}

.main_container.right_collapsed {
    margin    : 0% 5% 10% 25%;
    transition: margin-right 0.15s ease-out 0s;
}

.main_container.both_collapsed {
    margin    : 0% 5% 10% 5%;
    transition: margin-right 0.15s ease-out 0s margin-left 0.15s ease-out 0s;
}

.guild_screen {
    position           : fixed;
    top                : 60px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/guild-screen-background.png);
    background-size    : cover;
    background-position: center;
    /* background-color: black; */
    z-index            : 3;
}

.guildhall_screen {
    position           : fixed;
    top                : 60px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/dark-wood.png);
    background-size    : cover;
    background-position: center;
    /* background-color: black; */
    z-index            : 3;
}

.bank_screen {
    position           : fixed;
    top                : 60px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/metal-texture.png);
    background-size    : cover;
    background-position: center;
    /* background-color: black; */
    z-index            : 3;
}


.market_screen {
    position           : fixed;
    top                : 60px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/parchment-texture.png);
    background-size    : cover;
    background-position: center;
    /* background-color: black; */
    z-index            : 3;
}


.council_screen {
    position           : fixed;
    top                : 60px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/dark-brown-paper-texture.png);
    background-size    : cover;
    background-position: center;
    /* background-color: black; */
    z-index            : 3;
}

.guild_background {
    position           : fixed;
    top                : 0px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/guild-screen-background.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    z-index            : 3;
}


.guildhall_background {
    position           : fixed;
    top                : 0px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/guildhall-entrance.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    z-index            : 3;
}

.bank_background {
    position           : fixed;
    top                : 0px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/bank-vault-background.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    z-index            : 3;
}

.market_background {
    position           : fixed;
    top                : 0px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/market_background.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    z-index            : 3;
}

.council_background {
    position           : fixed;
    top                : 0px;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url(/council-room-background.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    z-index            : 3;
}