.policy_row {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 20px;
}

.subtitle {
    font-size: 16px;
    color    : #D9D9D9;
}

.policy_title {
    width: 100px;
}

.token_inputs {
    display       : flex;
    flex-direction: row;
    gap           : 10px;
    width         : 100%;
}

.token_input {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    width         : 25%;
    height        : 100px;
    color         : #D9D9D9;
}

.short_input {
    height: 100%;
}

.role {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.added_role {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
    background    : #32363F;
    border-radius : 10px;
    padding       : 5px;
    cursor        : pointer;
}

.role_icon {
    width: 20px;
}

.info_icon {
    height: 20px;
    width : 20px;
    cursor: pointer;
}

.info_box {
    visibility   : hidden;
    position     : absolute;
    border-radius: 10px 10px 10px 0px;
    background   : #252B34;
    color        : white;
    font-size    : 14px;
    padding      : 10px;
    width        : 50px;
    height       : 100px;
    transition   : width 0.3s ease-out 0s, min-width 0.3s ease-out 0s, max-width 0.3s ease-out 0s;
    margin-top   : -100px;
    margin-left  : 20px;
    z-index      : 3;
}

.info_icon:hover .info_box {
    visibility: visible;
    width     : 150px;
}

.info_text {
    visibility: hidden;
    opacity   : 0;
    transition: opacity .5s ease-in-out;
    width     : 130px;
}

.info_icon:hover .info_text {
    visibility: visible;
    opacity   : 1;
}

.add {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.add_icon {
    height    : 40px;
    width     : 40px;
    cursor    : pointer;
    color     : white;
    margin-top: 30px;
}

.token_select {
    display    : flex;
    align-items: center;
    width      : 20%;
    height     : 40px;
}