.container {
    display       : flex;
    flex-direction: column;
    gap           : 15px;
    height        : 100%;
    background    : #212326;
    border-radius : 10px;
    border        : 2px solid #DCCB8D;
    padding       : 20px 40px;
    margin        : 2% 5% 5% 5%;
}

.content {
    display       : flex;
    flex-direction: row;
}

.text_inputs {
    display       : flex;
    flex-direction: column;
    width         : 100%;
}

.name {
    width: 70%;
}

.description {
    width: 70%;
}

.title {
    font-size: large;
    color    : #D9D9D9;
    margin   : 0px;
}

.subtitle {
    font : medium;
    color: #D9D9D9;
}

.short_input {
    width : 100%;
    height: 50px;
}

.long_input {
    width : 60%;
    height: 100px;
}

.design_inputs {
    width: 100%;
}

.design_box {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border        : 2px solid #D9D9D9;
    border-radius : 20px;
}

.emblem_output {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    padding       : 20px 0px;
}

.emblem {}

.emblem_generation {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    padding       : 10px;
}

.design_attributes {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 100%;
    gap           : 10px;
    padding       : 0 20px;
}

.attribute_container {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    height        : 30%;
    width         : 100%;
}

.attribute_title {
    color : #eff3f8ec;
    margin: 0px;
}

.attributes {
    display       : flex;
    flex-direction: row;
    gap           : 5px;
}

.attribute {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #252B34;
    border-radius  : 10px;
    color          : #DCCB8D;
    border         : solid 1px #D9D9D9;
    height         : 30px;
    cursor         : pointer;
}

.attribute_selected {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #DCCB8D;
    border-radius  : 10px;
    color          : black;
    border         : solid 1px #D9D9D9;
    height         : 30px;
    cursor         : pointer;
}

.generate_button {
    width        : 50%;
    height       : 10%;
    border       : 1px solid #D9D9D9;
    background   : #303132;
    margin       : auto;
    color        : #DCCB8D;
    border-radius: 10px;
    cursor       : pointer;
}

.chain {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 20px;
    width          : 25%;
    height         : 50px;
    background     : #303132;
    margin         : auto;
    border-radius  : 10px;
}

.buttons {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    gap            : 10px;
    margin         : auto;
    width          : 100%;
}

.next_button {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 10%;
    background     : #303132;
    border         : 1px solid #DCCB8D;
    font-size      : 12px;
    color          : #DCCB8D;
    border-radius  : 10px;
    cursor         : pointer;
}

.next_button:hover {
    background: #36434B;

}

.chain_number_active {
    font-size  : 24px;
    font-weight: 700;
    color      : #DCCB8D;
}

.chain_number {
    font-size  : 24px;
    font-weight: 700;
    color      : #D9D9D9;
    cursor     : pointer;
}

.permissions_container {
    display       : flex;
    flex-direction: column;
}

.permissions_title {
    font-size: 32px;
    color    : white;
    margin   : 0px;
}

.permissions_form {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.contract_input {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 10px;
}

.verified {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
    background    : #514F50;
    border-radius : 5px;
    height        : fit-content;
    padding       : 5px;
    color         : white;
}

.verified p {
    margin   : 0px;
    font-size: 16px;
}

.verified_icon {
    color: green;
    width: 20px;
}

.saved_permissions {
    margin        : -40px 0px 0px 0px;
    display       : flex;
    flex-direction: column;
    color         : white;
    width         : 40%;
}

.saved_permissions p {
    margin: 0px;
}

.permissions_header {
    font-size: 16px;
}

.permissions_content {
    font-size: 14px;
    color    : #6B7371;
}

.select_selector {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.fee_policy {
    display       : flex;
    flex-direction: column;
}

.fee_policy_content {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.policies {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    padding       : 0px 0px 0px 20px;
}

.policy_row {
    display       : flex;
    flex-direction: row;
    gap           : 20px;
}

.policy_title {
    width: 100px;
}

.token_inputs {
    display       : flex;
    flex-direction: row;
    gap           : 10px;
    width         : 100%;
}

.token_input {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    width         : 25%;
    height        : 100px;
    color         : #D9D9D9;
}

.token_input p {
    margin: 0px;
}

.role {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.added_role {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
    background    : #32363F;
    border-radius : 10px;
    padding       : 5px;
    cursor        : pointer;
}

.role_icon {
    width: 20px;
}

.add {
    display        : flex;
    height         : 20px;
    width          : 20px;
    align-items    : center;
    justify-content: center;
}

.close_icon {
    width: 10px;
}

.members_content {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.members_form {
    display       : flex;
    flex-direction: row;
    gap           : 20px;
}

.members_form p {
    margin: 0px;
}

.members_address {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    width         : 40%;
}

.roles {
    display       : flex;
    flex-direction: row;
    gap           : 10px;
    color         : #DCCB8D;
}

.members_role {
    width: 15%;
}

.grant_area {
    display    : flex;
    align-items: center;
}

.grant_button {
    background   : #514F50;
    cursor       : pointer;
    border       : none;
    border-radius: 5px;
    height       : 30px;
    color        : white;
}

.whitelisted_members {
    margin: -50px 0px;
}

.whitelisted_members_title {
    font-size: 24px;
    color    : white;
}

.whitelisted_list {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.whitelisted_row {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    gap            : 10px;
    color          : #514F50;
}

.whitelisted_roles {
    display       : flex;
    flex-direction: row;
    gap           : 5px;
}

.role_area {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #DCCB8D;
    border-radius  : 100px;
    padding        : 10px;
    width          : 30px;
    height         : 30px;
}

.garbage_button {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 20px;
    background     : #DCCB8D;
    border-radius  : 5px;
    cursor         : pointer;
}

.garbage_icon {
    width: 10px;
}

.add_member_area {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.role_explainer {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    color         : white;
}

.role_explainer p {
    margin: 0px;
}

.role_text {
    color: #DCCB8D;
}