.menu {
    background-image   : url('/bank-sidemenu-background.png');
    background-size    : cover;
    background-position: 75% 100%;
    height             : 100%;
    padding            : 100px 20px 50px 20px;
}