.menu {
    background-image   : url('/dark-blue-gold-parchment.png');
    background-size    : cover;
    background-position: 25% 75%;
    height             : 100%;
    padding            : 60px 0px 50px 20px;
}

.border {
    position        : fixed;
    background-image: url('/left_council_border.svg');
    background-size : cover;
    height          : 100%;
    width           : 175px;
    left            : 0px;
    z-index         : 10;
}

.content_title {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : large;
    font-weight    : bold;
    text-shadow    : 0px 1px 2px;
    color: white;
    padding: 30px;
}

.filters_container {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #292724;
    height          : 250px;
    width           : 250px;
    border-radius   : 10px;
    border: 2px solid #DCCB8D;
    overflow-y      : scroll;
}