
.menu {
    background-image   : url('/dark-blue-gold-parchment.png');
    background-size    : cover;
    background-position: 25% 75%;
    height             : 100%;
    padding            : 100px 20px 50px 50px;
    border-radius      : 0px 0px 0px 0px;
}

.box {
    background-color: #0d0b09;
    padding         : 10px;
    height          : 100%;
    width           : 100%;
    border-radius   : 10px;
    overflow-x      : hidden;
}

.header {
    background-image   : url('/emblem-example 2.png');
    background-size    : cover;
    background-position: 0% 40%;
    height             : 40%;
    width              : 100%;
    border: rgb(66, 58, 17) 2px solid;
    
}

}

.content_container {
    display       : flex;
    flex-direction: column;
    background    : rgba(31, 33, 36, 0.9);
    padding       : 0px 10px;
    height        : 75%;
    width         : 100%;
    border-radius : 10px;
    border        : 2px solid #DCCB8D;
}

.content_title {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : large;
    color: #DCCB8D;
}


.tutorial_container {
    display       : flex;
    flex-direction: column;
    height        : 70%;
    width         : 100%;
    border-radius : 10px;
    overflow-y    : scroll;
    padding       : 0 10px;
    
}

/* .tutorial_container::-webkit-scrollbar {
    width: 5px;
} */

.tutorial_section {
    color: #d5d0c7;
}

.tutorial_title {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size:  16px;
    font-weight: bold;
    line-height: 18px;
    
}

.tutorial_content {
    font-size: 10px;
}

.games_content {
    background-image   : url('/sword-warrior.png');
    background-size    : cover;
    background-position: 0% 40%;
    height             : 100%;
    width              : 100%;
    object-fit: cover;
    overflow: hidden;
}
    

.section_break {
    background: #B3B3B3;
    height    : 1px;
    width     : 100%;
}