.container {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
}

.box {
  height       : 80%;
  background   : #212326;
  border-radius: 10px;
  border       : 2px solid #DCCB8D;
  padding      : 20px;
  overflow     : auto;
}

.council_header {
  display        : flex;
  gap            : 20px;
  align-items    : center;
  justify-content: center;
}

.council_title {
  cursor       : pointer;
  background   : none;
  border       : none;
  border-radius: 10px;
  background   : rgba(33, 35, 38, 0.75);
  color        : white;
  font-size    : 20px;
  padding      : 10px;
}

.council_title.selected {
  color: #DCCB8D;
}

.council_title:hover {
  color: #DCCB8D;
}