.container {
  height: 100%;
}

.market_box {
  display       : flex;
  flex-direction: column;
  gap           : 10px;
  height        : 100%;
  background    : #212326;
  border-radius : 10px;
  border        : 2px solid #DCCB8D;
  padding-top   : 20px;
}

.market_header {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  gap            : 2%;
  width          : 100%;
}

.results {
  color: #6B7371;
}

.market_search_box {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  border        : 1px solid #D9D9D9;
  color         : #6B7371;
  height        : 40px;
  width         : 40%;
  border-radius : 10px;
  padding       : 10px;
  gap           : 10px;
}

.market_search_icon {
  width : 20px;
  height: 20px;
  color : #DCCB8D;
}

.market_search_input {
  background: none;
  border    : none;
  outline   : none;
  color     : white;
  width     : 100%;
  height    : 100%;
}

.market_sort {
  z-index: 20;
}

.market_table {
  height      : 100%;
  width       : 100%;
  table-layout: fixed;
}

.market_box table {
  border-spacing : 0;
  border-collapse: collapse;
}

.market_table tbody {
  display      : block;
  width        : 100%;
  height       : 100%;
  color        : white;
  overflow     : auto;
  border-radius: 10px;
}

.market_table tbody tr:nth-child(odd) {
  background-color: #2d2f3b;
}

.market_table tbody tr:nth-child(even) {
  background-color: #34374D;
}

.market_table thead tr {
  display: block;
}

.subheader_row {
  /* margin-left  : 125px; */
  border-bottom: 3px solid #626A7C;
}

.market_table th,
.market_table td {
  width: 170px;
}

.header {
  color: #DCCB8D;
}

.subheader {
  color    : #626A7C;
  font-size: 12px;
}

.guild_subheader {
  width: 250px;
}

.table_row {
  height: 20px;
}

.task {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  color          : #D9D9D9;
}

.guild_row {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  gap            : 5px;
  color          : #626A7C;
}

.percent {
  text-align: center;
  font-size : 14px;
}

.payment {
  text-align: center;
  font-size : 14px;
  height    : 100%;
  overflow  : scroll;
  cursor    : pointer;
}

.payment_row {
  display        : flex;
  flex-direction : row;
  justify-content: center;
}

.payment:hover .payment_box {
  height    : 50px;
  width     : 150px;
  background: #252B34;
}

.dollar_value {
  font-size: 10px;
  color    : #626A7C;
}