.text-scroller {
  height  : 30px;
  overflow: hidden;
}

.text-container {
  display       : flex;
  flex-direction: column;
}

.text-line {
  font-size    : 1.2rem;
  margin-bottom: 5px;
  transition   : transform 5s linear;
  animation    : scroll-text 5s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}