.select_button {
  display        : flex;
  flex-direction : row;
  gap            : 5px;
  align-items    : center;
  justify-content: center;
  height         : 30px;
  background     : #626A7C;
  border         : none;
  border-radius  : 5px;
  font-size      : 12px;
  color          : white;
  cursor         : pointer;
  padding        : 0px 10px;
}

.select_icon {
  width : 20px;
  height: 20px;
  color : #DCCB8D;
}

.select_dropdown_area {
  display        : flex;
  justify-content: center;
}

.select_dropdown {
  position      : fixed;
  display       : flex;
  flex-direction: column;
  background    : #626A7C;
  border-radius : 10px;
  overflow      : scroll;
  margin        : 10px 0px 0px 0px;
  z-index       : 2;
  height        : 15%;
}

.select_dropdown_button {
  background: inherit;
  border    : none;
  cursor    : pointer;
}

.select_dropdown_button:hover {
  background: #696767;
  color     : #DCCB8D;
}

.token_select_button {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  background     : #626A7C;
  border         : none;
  border-radius  : 5px;
  color          : white;
  cursor         : pointer;
}

.dialog_background {
  position        : fixed;
  height          : 100%;
  width           : 100%;
  top             : 0px;
  left            : 0px;
  right           : 0px;
  bottom          : 0px;
  background-color: rgba(13, 17, 28, 0.6);
  z-index         : 20;
}


.token_dialog {
  position     : fixed;
  background   : #2F3A45;
  border-radius: 20px;
  height       : 50%;
  width        : 30%;
  top          : 30%;
  left         : 35%;
}

.token_dialog_header {
  display        : flex;
  justify-content: space-between;
  width          : 100%;
  align-items    : center;
  padding        : 0px 0px 0px 42.5%;
}

.token_dialog_title {
  align-self: center;
  font-size : 20px;
}

.close_button {
  background: none;
  border    : none;
}

.icon {
  width : 40px;
  height: 40px;
  cursor: pointer;
}

.token_search {
  padding: 20px;
}

.search_input {
  height: 40px;
}

.token_buttons {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
  padding       : 20px;
}

.token_button {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  gap            : 10px;
  align-items    : center;
  border-radius  : 10px;
  border         : 1px solid #D9D9D9;
  cursor         : pointer;
  background     : none;
  color          : white;
}

.dividor {
  height    : 1px;
  background: #80838a;
  width     : 100%;
}

.tokens_list {
  display       : flex;
  flex-direction: column;
}

.tokens_list p {
  margin: 0px;
}

.token_option {
  display       : flex;
  flex-direction: row;
  background    : none;
  border        : none;
  align-items   : center;
  gap           : 20px;
  cursor        : pointer;
  padding       : 5px 20px;
}

.token_option:hover {
  background: #80838a;
}

.token_info {
  display       : flex;
  flex-direction: column;
}

.search_dropdown {
  top           : 17.5%;
  position      : fixed;
  display       : flex;
  flex-direction: column;
  background    : #15202F;
  border-radius : 10px;
  overflow      : scroll;
  z-index       : 2;
  width         : 30%;
  color         : white;
  box-shadow    : #15202F;
}

.search_dropdown p {
  margin: 0px;
}

.section_header {
  border-bottom: solid 1px #939498;
  padding      : 10px;
  color        : #D9D9D9;
}

.search_list {
  display       : flex;
  flex-direction: column;
}

.search_item {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
  width         : 100%;
  padding       : 5px;
  cursor        : pointer;
  border-bottom : solid 1px #939498;
}

.search_item:hover {
  background: #939498;
}

.search_icon {
  border-radius: 100px;
}

.search_content {
  display       : flex;
  flex-direction: column;
}

.item_attributes {
  display       : flex;
  flex-direction: row;
  gap           : 20px;
  font-size     : 10px;
}

.attribute {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
}

.attribute_icon {
  height: 10px;
  width : 10px;
}