.header {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    z-index       : 4;
    position      : fixed;
    width         : 100%;
    height        : 8%;
}

.left_head {
    position           : fixed;
    background-image   : url('/left-header.svg');
    background-size    : cover;
    background-position: 100% 100%;
    top                : 0px;
    left               : 0px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
    clip-path          : circle(50% at 50% 50%);
}

.right_head {
    position           : fixed;
    background-image   : url('/right-header.svg');
    background-size    : cover;
    background-position: 0% 100%;
    top                : 0px;
    right              : -20px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}

.left_border {
    position           : fixed;
    background-image   : url('/left-menu.svg');
    background-size    : cover;
    background-position: 100% 100%;
    height             : 100%;
    width              : 6%;
    top                : 8%;
    left               : 0px;
    z-index            : 1;
}

.right_border {
    position           : fixed;
    background-image   : url('/right-menu.svg');
    background-size    : cover;
    background-position: 0% 100%;
    height             : 100%;
    top                : 8%;
    width              : 6%;
    right              : 0px;
    z-index            : 1;
}

.left_guildhall_head {
    position           : fixed;
    background-image   : url('/left_guildhall_head.svg');
    background-size    : cover;
    background-position: 100% 100%;
    top                : 0px;
    left               : 0px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}


.left_guildhall_border {
    position           : fixed;
    background-image   : url('/left_guildhall_base.svg');
    background-size    : cover;
    background-position: 100% 100%;
    height             : 120%;
    width              : 3%;
    top                : -70px;
    left               : 0px;
    z-index            : 1;
}

.left_market_head {
    position           : fixed;
    background-image   : url('/left_blue_wood_head.svg');
    background-size    : cover;
    background-position: 100% 100%;
    top                : 0px;
    left               : 0px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}


.left_market_border {
    position           : fixed;
    background-image   : url('/left_blue_wood_base.svg');
    background-size    : cover;
    background-position: 100% 100%;
    height             : 120%;
    width              : 3%;
    top                : 0px;
    left               : 0px;
    z-index            : 1;
}

.left_council_head {
    position           : fixed;
    background-image   : url('/left_council_head.svg');
    background-size    : cover;
    background-position: 100% 100%;
    top                : 0px;
    left               : 0px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}

.left_council_border {
    position           : fixed;
    background-image   : url('/left_council_base.svg');
    background-size    : 100% 100%;
    background-position: center;
    height             : 120%;
    width              : 3%;
    top                : -70px;
    left               : 0px;
    z-index            : 1;
}

.right_guildhall_head {
    position           : fixed;
    background-image   : url('/right_guildhall_head.svg');
    background-size    : cover;
    background-position: 0% 100%;
    top                : 0px;
    right              : -20px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}

.right_guildhall_border {
    position        : fixed;
    background-image: url('/right_guildhall_base.svg');
    background-size : cover;
    height          : 120%;
    top             : -50px;
    width           : 3%;
    right           : 0px;
    z-index         : 1;
}

.right_market_head {
    position           : fixed;
    background-image   : url('/right_market_head.svg');
    background-size    : cover;
    background-position: 0% 100%;
    top                : 0px;
    right              : -20px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}

.right_market_border {
    position        : fixed;
    background-image: url('/right_market_base.svg');
    background-size : cover;
    height          : 120%;
    top             : -50px;
    width           : 3%;
    right           : 0px;
    z-index         : 1;
}

.right_council_head {
    position           : fixed;
    background-image   : url('/right_council_head.svg');
    background-size    : cover;
    background-position: 0% 100%;
    top                : 0px;
    right              : -20px;
    height             : 20%;
    width              : 8%;
    z-index            : 2;
}

.right_council_border {
    position        : fixed;
    background-image: url('/right_council_base.svg');
    background-size : cover;
    height          : 120%;
    top             : -50px;
    width           : 3%;
    right           : 0px;
    z-index         : 1;
}

.left_bank_border {
    position           : fixed;
    background-image   : url('/left_bank_border.svg');
    background-size    : cover;
    background-position: 100% 100%;
    height             : 120%;
    width              : 50px;
    top                : -50px;
    left               : 0px;
    z-index            : 10;
}

.right_bank_border {
    position           : fixed;
    background-image   : url('/right_bank_border.svg');
    background-size    : cover;
    background-position: 0% 100%;
    height             : 120%;
    top                : -50px;
    width              : 50px;
    right              : 0px;
    z-index            : 10;
}


.right_corner {
    background-image: url(/dark-gold-celtic.png);
    background-size : cover;
    width           : 100px;
    z-index         : 4;
    height          : 100px;
    border-radius   : 0px 0px 0px 100px;
    right           : -10px;
    position        : relative;
}

.navbar {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    height         : 100%;
    justify-content: space-between;
    background     : rgba(31, 33, 36, 1);
    border         : 2px solid #DCCB8D;
    border-radius  : 20px;
}

.nav_links {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    margin        : 0 0px 0px 150px;
    gap           : 2%;
    padding       : 0px 10px;
    width         : 38%;
}

.link_container {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    gap             : 5px;
    width           : 20%;
    height          : 65%;
    border-radius   : 5px;
    background-image: url('/light-button-border-stretched.svg');
    background-size : cover;
    color           : #B9B7B9;
    background-color: #121225;
}

.link_container_highlighted {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    gap             : 5px;
    width           : 20%;
    height          : 65%;
    border-radius   : 5px;
    background-image: url('/light-button-border-stretched.svg');
    background-size : cover;
    color           : #DCCB8D;
    background-color: #121225;
}


.link_container:hover {
    color: #DCCB8D;
}

.link_container:hover p {
    color: #DCCB8D;
}

.icon {
    width : 20px;
    height: 20px;
}

.highlighted {
    color: #DCCB8D;
}

.logo_border {
    position        : fixed;
    display         : block;
    clip-path       : ellipse(40% 46% at 50% 50%);
    background-color: #DCCB8D;
    width           : 10.5%;
    height          : 20.5%;
    top             : 0px;
    right           : 45.3%;
}

.logo {
    position        : fixed;
    display         : block;
    clip-path       : ellipse(40% 46% at 50% 50%);
    background-image: url(/guildly-logo.png);
    background-size : cover;
    width           : 10%;
    height          : 20%;
    top             : 4px;
    right           : 45.5%;
}

/* .logo img {
    display     : block;
    position    : fixed;
    top         : 2px;
    clip-path   : ellipse(38% 50% at 50% 50%);
    right       : 45%;
    border      : solid;
    border-width: 5px;
} */

.network_links {
    display        : flex;
    position       : relative;
    margin         : 0px 150px 0px 0px;
    gap            : 20px;
    align-items    : center;
    justify-content: center;
    padding        : 0px 10px;
}

.guild_button {
    display        : flex;
    flex-direction : row;
    gap            : 5px;
    height         : 35px;
    border-radius  : 10px;
    align-items    : center;
    justify-content: center;
    background     : #121225;
    color          : #DCCB8D;
    padding        : 10px;
    cursor         : pointer;
    border         : 1px solid #DCCB8D;
}

.guild_button:hover {
    background: #36434B;
}

.guild_image {
    border-radius: 100px;
}

.guild_container {
    position      : fixed;
    display       : flex;
    flex-direction: column;
    padding       : 0px 20px;
    height        : 30%;
    width         : 20%;
    border-radius : 10px;
    background    : #2F3A45;
    top           : 100px;
    right         : 30%;
    border        : 2px solid #DCCB8D;
    z-index       : 20;
    visibility    : hidden;
    transition    : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    opacity       : 0;
}

.guild_container.open {
    visibility      : visible;
    opacity         : 1;
    transform       : translateY(0%);
    height          : 60%;
    width           : 40%;
    transition-delay: 0s, 0s, 0.3s;
}

.gld_button {
    display        : flex;
    gap            : 10px;
    height         : 40px;
    width          : 120px;
    border-radius  : 5px;
    align-items    : center;
    justify-content: center;
    border         : none;
    background     : linear-gradient(45deg, rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)), url(/metal-texture.png);
    background-size    : cover;
    background-position: center;
    color              : #DCCB8D;
}

.token_info {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.token_number {
    font-family: "MedievalSharp";
    font-size  : large;
}

.connect_button {
    display        : flex;
    height         : 30px;
    border-radius  : 5px;
    align-items    : center;
    justify-content: center;
    background     : #121225;
    padding        : 10px 15px;
    cursor         : pointer;
    border         : 1px solid #DCCB8D;
}

.connect_button:hover {
    background: #36434B;
}

.copied_button {
    border    : none;
    background: none;
    cursor    : pointer;
    color     : #DCCB8D;
}

.copied_icon {
    width : 20px;
    height: 20px;
}

.copied_address_box {
    position       : fixed;
    background     : rgba(31, 33, 36, 0.6);
    backdrop-filter: blur(16px);
    border-radius  : 10px;
    color          : #DCCB8D;
    padding        : 10px;
    top            : 40px;
    right          : 12%;
}


.connect_button p {
    color: #DCCB8D;
}


.connect_container {
    position      : fixed;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    width         : 300px;
    height        : 25%;
    top           : 10%;
    right         : 250px;
    border-radius : 10px;
    border        : 2px solid #DCCB8D;
    transition    : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform     : translateY(-2em);
    visibility    : hidden;
    opacity       : 0;
}

.connect_container.open {
    visibility      : visible;
    opacity         : 1;
    transform       : translateY(0%);
    height          : 50%;
    transition-delay: 0s, 0s, 0.3s;
}

.transactions_button {
    display         : flex;
    width           : 80px;
    height          : 70%;
    border-radius   : 5px;
    align-items     : center;
    justify-content : center;
    border          : none;
    background-image: url('/heavy-button-border.svg');
    background-size : cover;
    color           : #DCCB8D;
    padding         : 10px;
    cursor          : pointer;
    background-color: #121225;
}

.transactions_button svg {
    height: 25px;
}

.transactions_container {
    position      : fixed;
    display       : flex;
    flex-direction: column;
    width         : 30%;
    height        : 40%;
    background    : #212326;
    top           : 10%;
    right         : 65px;
    border-radius : 10px;
    border        : 2px solid #DCCB8D;
    z-index       : 400;
    transition    : all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform     : translateY(-2em);
    visibility    : hidden;
    opacity       : 0;
}

.transactions_container.open {
    visibility      : visible;
    opacity         : 1;
    transform       : translateY(0%);
    height          : 85%;
    transition-delay: 0s, 0s, 0.3s;
}

.music_button {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-image: url('/heavy-button-border.svg');
    background-size : cover;
    cursor          : pointer;
    width           : 80px;
    height          : 70%;
    background-color: #121225;
}

.sound_icon {
    width : 30px;
    height: 30px;
    color : #DCCB8D;
}