.selected_background {
  visibility      : hidden;
  position        : fixed;
  height          : 100%;
  width           : 100%;
  z-index         : 5;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  border-radius   : 0;
  background-color: rgba(13, 17, 28, 0.6);
  opacity         : 0;
  transition      : .5s;
}

.selected_background.active {
  visibility: visible;
  opacity   : 1;
}

.close_button {
  position       : absolute;
  top            : 17%;
  left           : 32%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : #DCCB8D;
  width          : 50px;
  height         : 50px;
  border-radius  : 100px;
  cursor         : pointer;
  z-index        : 8;
  transition     : .2s;
}

.close_button:hover {
  color: #D9D9D9;
}

.token_card {
  position: absolute;
  margin  : auto;
  left    : 32%;
  top     : 20%;
  width   : 35%;
  height  : 65%;
}

.left_arrow {
  position  : absolute;
  top       : 40%;
  left      : 30%;
  background: none;
  border    : none;
  width     : 80px;
  height    : 80px;
  color     : #DCCB8D;
  cursor    : pointer;
  z-index   : 8;
  transition: .2s;
}

.right_arrow {
  position  : absolute;
  top       : 40%;
  right     : 30%;
  background: none;
  border    : none;
  width     : 80px;
  height    : 80px;
  color     : #DCCB8D;
  cursor    : pointer;
  transform : rotate(180deg);
  z-index   : 8;
  transition: .2s;
}

.left_arrow:hover {
  color: #D9D9D9;
}

.right_arrow:hover {
  color: #D9D9D9;
}

.token_outline {
  position: absolute;
  z-index : 6;
  cursor  : pointer;
  height  : 100%;
  width   : 100%;
}


.token_symbol {
  position: absolute;
  margin  : 25px 0px 0px 90px;
  z-index : 4;
  height  : 15%;
  width   : 15%;
}


.token_text {
  position: absolute;
  z-index : 7;
  height  : 100%;
}

.token_background {
  position  : absolute;
  height    : 70%;
  width     : 65%;
  background: #162334;
  margin    : 40px 5px 0px 100px;
  z-index   : 2;
}

.token_image {
  position  : relative;
  margin    : auto;
  z-index   : 2;
  height    : 100%;
  width     : 100%;
  background: #162334;
}

.token_title {
  display    : inline-block;
  color      : #DCCB8D;
  font-size  : 24px;
  margin     : 30px 220px;
  width      : 160px;
  height     : 30px;
  overflow   : hidden;
  white-space: nowrap;
}

.token_title p {
  text-overflow: ellipsis;
  text-align   : center;
}

.token_content {
  position      : absolute;
  display       : flex;
  flex-direction: column;
  margin        : auto;
  gap           : 20px;
  bottom        : 0px;
  left          : 22%;
  height        : 23%;
  width         : 55%;
}

.token_header {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.game {
  color    : #DCCB8D;
  font-size: 9px;
}

.game {
  color    : #DCCB8D;
  font-size: 18px;
}

.token_standard {
  color    : #D9D9D9;
  font-size: 7px;
}

.token_standard {
  color    : #D9D9D9;
  font-size: 14px;
}

.token_address {
  color    : #9B7C61;
  font-size: 5px;
}

.token_address {
  color         : #9B7C61;
  display       : flex;
  align-items   : center;
  flex-direction: row;
  gap           : 5px;
  font-size     : 10px;
}

.token_description {
  color    : #D9D9D9;
  font-size: 12px;
  margin   : -5px 0px 0px 0px;
}

.external_icon {
  width : 20px;
  height: 20px;
}

.token_buttons {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

.action_buttons {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
}

.deposit_button {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 60px;
  height         : 30px;
  border-radius  : 5px;
  background     : #DCCB8D;
  cursor         : pointer;
  font-size      : 12px;
  border         : none;
  transition     : .2s;
}

.deposit_button:hover {
  background: #c4b686;
  ;
}

.info_button {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 70px;
  height         : 30px;
  border-radius  : 5px;
  background     : #6B7371;
  cursor         : pointer;
  font-size      : 12px;
  border         : none;
  color          : #DCCB8D;
  transition     : .2s;
}

.info_button:hover {
  background: #8f9092;
  ;
}

.external_buttons {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  gap            : 5px;
  width          : 60px;
}

.external_button {
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 100%;
  width           : 100%;
  border-radius   : 100px;
  border          : 1px solid #DCCB8D;
  cursor          : pointer;
  background-color: white;
  overflow        : hidden;
  transition      : .2s;
}

.external_button:hover {}