.container {
    margin: 70px;
}

.search_bar {
    display       : flex;
    flex-direction: row;
    gap           : 10px;
    align-items   : center;
    position      : fixed;
    height        : 30px;
    width         : 200px;
    background    : #212326;
    border        : 1px solid #3E3737;
    border-radius : 10px;
    right         : 30%;
    margin        : -40px 0px 0px 0px;
    color         : #967C6E;
    padding       : 0px 10px;
}

.search_icon {
    width : 20px;
    height: 20px;
}

.search_input {
    background: none;
    border    : none;
    outline   : none;
    color     : white;
    width     : 100%;
    height    : 100%;
}

.tokens_box {
    height       : 650px;
    background   : #212326;
    border-radius: 10px;
    border       : 2px solid #DCCB8D;
    padding      : 20px;
    overflow     : auto;
}

.tokens_area {
    display                 : grid;
    justify-content         : center;
    height                  : 85%;
    width                   : 100%;
    grid-template-columns   : auto auto auto auto;
    overflow                : scroll;
    scrollbar-color         : #DCCB8D;
    /* color                : white; */
}

/* .tokens_area::-webkit-scrollbar {
    /* width: 5px; */
/* color: white;
} */

/* ::-webkit-scrollbar-thumb {
    background: #DCCB8D;
} */

.tokens_area::-webkit-scrollbar-thumb {
    width     : 10px;
    background: #DCCB8D;
}

.connect_area {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.connect_message {
    font-size: 16px;
    color    : white;
}

.button_area {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    padding        : 2% 0px;
    background     : none;
}

.purchase_button {
    width        : 200px;
    height       : 50px;
    border       : 2px solid #DCCB8D;
    background   : #162334;
    color        : #DCCB8D;
    border-radius: 10px;
    cursor       : pointer;
}