.container {
  margin: 70px;
}

.box {
  height       : 650px;
  background   : #212326;
  border-radius: 10px;
  border       : 2px solid #DCCB8D;
  overflow     : auto;
  padding      : 20px;
  margin-top: 5px;
}

.council_header {
  display        : flex;
  gap            : 20px;
  align-items    : center;
  justify-content: center;
}

.council_title {
  cursor    : pointer;
  background: none;
  border    : none;
  color     : #6b6c6e;
  font-size : 16px;
}

.council_title_selected {
  cursor    : pointer;
  background: none;
  border    : none;
  color     : white;
  font-size : 20px;
}

.council_title:hover {
  color: #6b6c6e;
}