.container {
    display              : grid;
    grid-template-columns: auto auto;
    padding              : 0% 10%;
    gap                  : 20px 120px;
    height               : 100%;
}

.navbox {
    justify-self   : center;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 70%;
    border-radius  : 10px;
    background     : #212326;
    border         : solid;
    border-color   : #DCCB8D;
    color          : #DCCB8D;
    font-size      : 22px;
}

.navbox:hover {
    background: #515453;
}