.transaction_area {
  height    : 90%;
  width     : 90%;
  padding   : 20px;
  background: rgba(29, 30, 32, 0.8);
}

.transaction_box {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  gap           : 20px;
  background    : rgba(29, 30, 32, 0.5);
  border-radius : 10px;
  height        : 100%;
  padding       : 20px 0px 0px 0px;
}

.buttons {
  display       : flex;
  flex-direction: row;
  gap           : 10px;
  width         : 100%;
  height        : 5%;
}

.submit_button {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 60%;
  background     : #1D1E20;
  border-radius  : 10px;
  border         : 1px solid #DCCB8D;
  color          : #DCCB8D;
  cursor         : pointer;
  padding        : 20px 0px;
  transition     : .3s;
}

.submit_button:hover {
  background: #515453;
}

.clear_button {
  width          : 30%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border         : 1px solid #7A80A1;
  border-radius  : 10px;
  color          : #7A80A1;
  cursor         : pointer;
  padding        : 20px 0px;
  transition     : .3s;
}

.clear_button:hover {
  background: #515453;
}

.transaction {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
  width         : 90%;
  height        : 15%;
  background    : #444B4E;
  border-radius : 10px;
  padding       : 10px 20px;
}

.drag_icon {
  width : 15px;
  height: 15px;
  color : #DCCB8D;
  cursor: pointer;
}

.transaction_content {
  width: 100%;
}

.header {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
  width          : 100%;
}

.title {
  color    : #DCCB8D;
  font-size: 16px;
  padding  : 10px 0px;
}

.remove_button {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 70px;
  height         : 25px;
  background     : #30323E;
  border         : 1px solid #AAA18E;
  border-radius  : 5px;
  color          : #AAA18E;
  font-size      : 12px;
  cursor         : pointer;
  transition     : .3s;
}

.remove_button:hover {
  background: #515453;
}

.dividor {
  height    : 1px;
  width     : 100%;
  background: #AAA18E;
}

.description {
  color    : white;
  font-size: 12px;
  padding  : 10px 0px;
}