.container {
    display       : flex;
    flex-direction: column;
    gap           : 15px;
    height        : 100%;
    background    : #212326;
    border-radius : 10px;
    border        : 2px solid #DCCB8D;
    padding       : 20px 40px;
    margin        : 2% 5% 5% 5%;
}

.header {
    color        : #B9B7B9;
    text-align   : left;
    border-bottom: 1px solid #B9B7B9;
}

.header tr {
    border-bottom: 1px solid #B9B7B9;
}

.dividor {
    width     : 100%;
    height    : 1px;
    background: #3E3737;
}

.link {
    display: contents;
}

.guild_row {
    color         : white;
    height        : 5%;
    vertical-align: middle;
    cursor        : pointer;
}

.guild_row:hover {
    background: #3E3737;
    outline   : none;
}

.guild_row td {
    border: none;
}

.rank {
    color: #B9B7B9
}

.addresses {
    display       : flex;
    flex-direction: column;
}

.account_id {
    font-size: 16px;
    color    : white;
}

.account_address {
    font-size: 12px;
    color    : #6B7371;
}

.guild_name {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
    width         : 150px;
}

.token_icon {
    position: relative;
    color   : white;
    width   : 30px;
    height  : 30px;
}

.game_area {
    display       : flex;
    flex-direction: row;
    gap           : 5px;
}

.games {
    display       : flex;
    align-items   : center;
    flex-direction: row;
    gap           : 0px;
    cursor        : pointer;
    overflow      : ellipse;
}

.games img {
    color: white;
}

.game {
    display       : flex;
    flex-direction: row;
    gap           : 5px;
    border        : 1px solid #DCCB8D;
    border-radius : 5px;
    color         : #DCCB8D;
}

.game_image img {
    color: white;
}

.items {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.items_value {
    font-size: 12px;
    color    : #B9B7B9;
}

.guilds {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.guilds_number {
    font-size: 16px;
}

.guilds_list {
    display       : flex;
    flex-direction: row;
    gap           : 2px;
}

.guild_icon {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 16px;
    width          : 16px;
    border-radius  : 100px;
}

.guild {
    display       : flex;
    flex-direction: row;
    gap           : 2px;
    font-size     : 10px;
    color         : white;
    background    : #162334;
    border-radius : 5px;
    padding       : 5px;
    border        : 1px solid #DCCB8D;
}


.fees {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    margin        : 0px 10px;
}

.fee_row {
    display        : flex;
    flex-direction : row;
    gap            : 10px;
    align-items    : center;
    justify-content: space-between;
}

.fee_element {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.fee_icon {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #DCCB8D;
    border-radius  : 100px;
    height         : 20px;
    width          : 20px;
    color          : black;
}

.split {
    font-size: 14px;
    color    : #B9B7B9;
}

.games_box {
    display: none;
}

.games:hover .games_box {
    display   : fixed;
    width     : 30%;
    height    : 10%;
    background: #151E2C;
}

.activity {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 5px;
}

.activity_image {
    width: 50%;
}