.container {
  display       : flex;
  flex-direction: column;
  gap           : 15px;
  height        : 100%;
  background    : #212326;
  border-radius : 10px;
  border        : 2px solid #DCCB8D;
  padding       : 20px 40px;
  margin        : 2% 5% 5% 5%;
}

.header {
  display       : flex;
  flex-direction: row;
  gap           : 100px;
}

.item_info {
  display       : flex;
  flex-direction: row;
  gap           : 20px;
}

.item_name {
  font-size: 32px;
  color    : white;
}

.contract {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
}

.contract_title {
  font-size: 16px;
  color    : #B9B7B9;
}

.contract_content {
  color      : white;
  font-size  : 16px;
  font-weight: bold;
}

.categories {
  display       : flex;
  flex-direction: row;
  gap           : 20px;
}

.category {
  display       : flex;
  flex-direction: column;
  gap           : 1px;
}

.category_title {
  font-size: 26px;
  color    : white;
}

.category_content {
  display       : flex;
  flex-direction: column;
  gap           : 5px;
}

.category_content_text {
  font-size: 12px;
  color    : #B9B7B9;
}

.game {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 5px;
}

.game_image {
  filter: brightness(0) saturate(100%) invert(99%) sepia(95%) saturate(4237%) hue-rotate(319deg) brightness(102%) contrast(97%);
}

.external_buttons {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  gap            : 5px;
  width          : 80px;
  height         : 40px;
}

.external_button {
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 100%;
  width           : 100%;
  border-radius   : 100px;
  border          : 1px solid #DCCB8D;
  cursor          : pointer;
  background-color: white;
  overflow        : hidden;
  transition      : .2s;
}

.guild_row {
  display       : flex;
  flex-direction: row;
  gap           : 30px;
  height        : 30%;
}

.guild {
  width: 65%;
}

.guilds {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 70%;
}

.bank_tokens {
  display       : flex;
  flex-direction: row;
  gap           : 50px;
}

.council {
  width: 30%;
}

.proposals_box {
  height       : 100%;
  background   : #6B6057;
  border-radius: 10px;
}

.fee_rates {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  width         : 30%;
}

.fee_rates_header {
  display       : flex;
  flex-direction: row;
  gap           : 50px;
}

.fee_rates_list {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  overflow      : auto;
  font-size     : 16px;
}

.fee_rate {
  color: white;
}

.fee_rate_payment {
  display       : flex;
  flex-direction: row;
}

.activity {
  display       : flex;
  flex-direction: column;
  gap           : 5px;
  color         : white;
  margin-top    : 20px;
}

.activity_area {
  display       : flex;
  flex-direction: row;
  gap           : 20px
}

.feed_item {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
}

.feed_bold_text {
  font-weight: bold;
}